diary-entry {

  ion-card {
  position: relative;
  }

  // .addPicture {
  //   top: 57%;
  //   right: 2%;
  // }

  ion-fab {
    top: 57%;
    right: 2%;
  }

  .wrongIcon {
    color: lightgrey
  }

  .okIcon {
    color: "secondary";
  }

}
