<div *ngIf="mealInput">

  <ion-card>

    <ion-card-header>
      {{ meal }}
    </ion-card-header>

    <div *ngIf="mealInput[meal]?.images">
      <ion-slides pager [options]="mySlideOptions">
        <ion-slide *ngFor="let image of mealInput[meal].images">
          <img [src]="image.localPath" class="slide-image"/>
        </ion-slide>
      </ion-slides>
    </div>


    <img *ngIf="!mealInput[meal]?.images" src="./assets/images/desayuno.jpg"/>

    <ion-fab class="addPicture">
      <button ion-fab mini (click)="addPicture()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

    <ion-card-content (click)="addText()">
      <span *ngIf="mealInput[meal]">{{ mealInput[meal].text }}</span>
      <span *ngIf="!mealInput[meal]">¿Que comiste?</span>
    </ion-card-content>

    <ion-row>
     <ion-col center text-center>
       <span icon-left small ion-text color="secondary" class="okIcon">
         <ion-icon name="checkmark-circle"></ion-icon>
       </span>
       <span icon-left small class="wrongIcon">
         <ion-icon name="close-circle"></ion-icon>
       </span>
     </ion-col>
     <ion-col>
       <button ion-button icon-left clear small>
         <ion-icon name="text"></ion-icon>
         <div>2 comentarios</div>
       </button>
     </ion-col>
     <ion-col center text-center>
       <ion-note>
         11h ago
       </ion-note>
     </ion-col>
   </ion-row>

  </ion-card>

</div>

<!-- <p>{{day}}</p>  -->
